body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
}
.center-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
input, button {
  font-size: 16px;
  padding: 10px;
  margin: 10px 0;
}
button {
  cursor: pointer;
}
.logo img {
  height: 50px;
}
